html,
body {
  padding: 0;
  margin: 0;
  /*font-family: 'AvenirNext', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
  /*  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;*/
  min-height: 100vh;
  height: 100%;
}

#__next {
  min-height: 100vh;
  height: 100%;
}

.widgetContainer {
  border-radius: 20px;
  padding: 2rem;
}

.dateDot {
  width: 0.7em;
  height: 0.7em;
  display: block;
  background-color: var(--chakra-colors-primary1-900);
  border-radius: 1em;
  margin-top: 0.5em;
}

.statusBadgeBig {
  background: #FFEFDE;
  width: 70px;
  height: 70px;
  border-radius: 8px;
}

.statusBadgeBig img {
  width: 35px !important;
}

.globalProgress {
  --spRadius: 10px;
  border-radius: var(--spRadius);
  height: 7px !important;
  background-color: #f7f8fc !important;
}

.globalProgress [role="progressbar"] {
  border-radius: var(--spRadius);
  background-color: var(--chakra-colors-primary1-900) !important;
}

.verticalSpacer {
  width: 1px;
  background: #E0E0E6;
  display: block;
  border-radius: var(--spRadius);
}